[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
openai = "*"
scikit-learn = "*"
pandas = "*"
psycopg2-binary = "*"
python-dotenv = "*"

[dev-packages]
json = "*"
sentence_transformers=2.7
tqdm = "*"
export = "*"
tqdm = "*"
notebook = "==7.1.2"
ipywidgets = "*"
pgcli = "*"

[requires]
python_version = "3.11"
